<h1>Danh sách mã giảm giá</h1>
<div class="btn-action">
  <nz-input-group [nzPrefix]="suffixIconSearch" style="width: 200px">
    <input type="text" nz-input placeholder="ID Mã giảm giá" [(ngModel)]="key" (keydown.enter)="searchDiscount()"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
  <button nz-button nzType="primary" (click)="handleAddDiscount()">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Thêm mã giảm giá
  </button>
</div>
<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed" [nzLoading]="isLoading">
  <thead>
  <tr>
    <th nzAlign="center" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
      {{ column.title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sortTable.data" class="cursor" >
    <td nzAlign="center" (click)="showModal(data)">{{ data.id }}</td>
    <td nzAlign="center" (click)="showModal(data)">{{ data.code }}</td>
    <td nzAlign="center" (click)="showModal(data)">{{ data.discount }}</td>
    <td nzAlign="center" (click)="showModal(data)">
      <nz-tag [nzColor]="'error'" *ngIf="data.status === 0">Không hoạt động</nz-tag>
      <nz-tag [nzColor]="'success'" *ngIf="data.status === 1">Đang hoạt động</nz-tag>
    </td>
    <td nzAlign="center">
      <a nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn xóa?" nz-button nzType="primary" nzShape="circle" nzDanger (nzOnConfirm)="handleDelete(data.id)" nzOkText="OK" nzCancelText="Hủy bỏ"><span nz-icon nzType="delete" ></span></a>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thông báo"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  nzCancelText="Hủy"
  nzOkText="OK"
>
  <p *nzModalContent>{{selected.status === 0 ? "Bạn muốn chạy mã giảm giá này?" : "Bạn muốn dừng mã giảm giá này?"}}</p>
</nz-modal>
<app-add-discount [visible]="isOpenDrawer" (closeDrawer)="handleCloseDrawer($event)" (refresh)="displayData()"></app-add-discount>
