<nz-drawer
  [nzClosable]="false"
  [nzVisible]="visible"
  nzPlacement="right"
  [nzTitle]="header"
  (nzOnClose)="close()"
  nzWidth="600px"
  [nzFooter]="footer"
>
  <ng-container *nzDrawerContent>
    <div class="table-size">
      <div class="size-man">
        <div class="th">Size Nam</div>
        <div class="list-size"*ngFor="let data of product?.sizeMan">
          <p>{{data.size}}</p>
<!--          <p>x{{data.amount}}</p>-->
        </div>
      </div>
      <div class="size-woman">
        <div class="th">Size Nữ</div>
        <div class="list-size" *ngFor="let data of sizeWoman">
          <p>{{data.size}}</p>
          <p>x{{data.amount}}</p>
        </div>
      </div>
    </div>
  </ng-container>
</nz-drawer>
<ng-template #header>
  <h1>Tồn kho</h1>
</ng-template>
<ng-template #footer>
  <button class="btn-submit">Nhập hàng</button>
</ng-template>
