<h1>Danh sách đơn hàng</h1>
<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="content">
  <div class="btn-action">

  </div>
  <nz-table *ngIf="!isLoading" #sortTable [nzData]="listOfData" nzTableLayout="fixed" [nzTotal]="totalItem" [nzPageSize]="pageSize" nzFrontPagination="true" style="min-height: 500px;">
    <thead>
    <tr>
      <th nzAlign="center" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
        {{ column.title }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of sortTable.data;let i=index" (click)="handleClickRecord(data)" >
      <td nzAlign="center">{{ data.id_cart }}</td>
      <td nzAlign="center">{{ data.id_user }}</td>
      <td nzAlign="center">{{ data.date }}</td>
      <td nzAlign="center">{{ data.subtotal * 1000| currency:'VND':' ':'1.'}}</td>
      <td nzAlign="center">{{ data.discount}}</td>
      <td nzAlign="center" >{{ data.total * 1000| currency:'VND':' ':'1.'}}</td>
      <td nzAlign="center">
        <nz-tag [nzColor]="'error'" *ngIf="data.status === 0">Chưa xác nhận</nz-tag>
        <nz-tag [nzColor]="'success'" *ngIf="data.status === 1">Đã xác nhận</nz-tag>
      </td>
      <!--<td>
        <button nz-button nzType="primary" nzDanger>Primary</button>
        <button nz-button nzType="primary">primary</button>
      </td>-->
    </tr>
    </tbody>
  </nz-table>
</div>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Thông báo"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <p *nzModalContent>{{itemSelected.status === 0 ? "Bạn chắc chắn xác nhận đơn hàng này?":"Bạn chắc chắn hủy đơn hàng này?"}}</p>
</nz-modal>
