<h1>Danh sách mã giảm giá</h1>
<div class="btn-action">
  <nz-input-group [nzPrefix]="suffixIconSearch" style="width: 200px">
    <input type="text" nz-input placeholder="Tìm kiếm sản phẩm"/>
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
  <button nz-button nzType="primary">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Thêm sản phẩm
  </button>
</div>
<nz-table #sortTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
  <tr>
    <th nzAlign="center" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
      {{ column.title }}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sortTable.data" class="cursor" (click)="showModal(data)" >
    <td nzAlign="center">{{ data.id }}</td>
    <td nzAlign="center">{{ data.code }}</td>
    <td nzAlign="center">{{ data.discount }}</td>
    <td nzAlign="center">
      <nz-tag [nzColor]="'error'" *ngIf="data.status === 0">Không hoạt động</nz-tag>
      <nz-tag [nzColor]="'success'" *ngIf="data.status === 1">Đang hoạt động</nz-tag>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Modal Title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
>
  <p *nzModalContent>Bạn muốn chạy mã giảm giá này?</p>
</nz-modal>
