<h1>Danh sách sản phẩm</h1>
<div class="btn-action">
  <button nz-button nzType="primary">
    <span nz-icon nzType="plus" nzTheme="outline"></span>
    Thêm sản phẩm
  </button>
</div>
<nz-table #editRowTable nzBordered [nzData]="listOfData" nzTableLayout="fixed" [nzPageSize]="pageSize" [nzTotal]="totalItem">
  <thead>
  <tr>
    <th nzAlign="center" nzWidth="10%">Hình ảnh</th>
    <th nzAlign="center" nzWidth="10%">Mã sản phẩm</th>
    <th nzAlign="center" nzWidth="10%">Tên sản phẩm</th>
    <th nzAlign="center" nzWidth="10%">Màu</th>
    <th nzAlign="center" nzWidth="10%">Giới tính</th>
    <th nzAlign="center" nzWidth="20%">Mô tả</th>
    <th nzAlign="center" nzWidth="10%">Trending</th>
    <th nzAlign="center" nzWidth="10%">Giá</th>
    <th nzAlign="center" ></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of editRowTable.data">
    <ng-container *ngIf="!editCache[data.id_product].edit; else editTemplate">
      <td nzAlign="center">
        <img [src]="data.img" alt="" style="width: 80px">
      </td>
      <td nzAlign="center">{{ data.id_product }}</td>
      <td nzAlign="center">{{ data.name }}</td>
      <td nzAlign="center">{{ data.color }}</td>
      <td nzAlign="center">
        <nz-tag [nzColor]="'pink'" *ngIf="data.gender === 0">Nữ</nz-tag>
        <nz-tag [nzColor]="'cyan'" *ngIf="data.gender === 1">Nam</nz-tag>
        <nz-tag [nzColor]="'purple'" *ngIf="data.gender === 2">Cả hai</nz-tag>
      </td>
      <td nzAlign="center" class="td-description">{{ data.description }}</td>
      <td nzAlign="center">
        <nz-tag [nzColor]="'error'" *ngIf="data.trending === 0">Hết trending</nz-tag>
        <nz-tag [nzColor]="'success'" *ngIf="data.trending === 1">Đang trending</nz-tag>
      </td>
      <td nzAlign="center">{{ data.price  * 1000| currency:'VND':' ':'1.'}}</td>
      <td nzAlign="center">
        <button nz-button nzType="primary" (click)="startEdit(data.id_product)" nzShape="circle"><span nz-icon nzType="edit"></span></button>
      </td>
    </ng-container>
    <ng-template #editTemplate>
      <td nzAlign="center"><input type="file" nz-input [(ngModel)]="editCache[data.id_product].data.img" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.id_product" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.name" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.color" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.gender" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.description" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.trending" /></td>
      <td nzAlign="center"><input type="text" nz-input [(ngModel)]="editCache[data.id_product].data.price" /></td>
      <td nzAlign="center">
        <a (click)="saveEdit(data.id_product)" class="save">Save</a >
        <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id_product)">Cancel</a>
      </td>
    </ng-template>
  </tr>
  </tbody>
</nz-table>
