.save {
  margin-right: 8px;
}
.td-description{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-action{
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}
.action{
  display: flex;
  gap: 10px;
  margin-top: 1.9rem;
}
