<div class="background">
  <div id="wrapper" >
    <h1>THE LOGO</h1>
    <h2>A cool headline.</h2>
    <form>
      <input type="radio" id="login" name="action" value="login" checked>
      <input type="radio" id="register" name="action" value="register">
      <input type="radio" id="reset" name="action" value="reset">
      <div id="inputs">
        <div>
          <input type="text" placeholder="Tài khoản" autofocus [(ngModel)]="username">
          <div>
            <input type="password" placeholder="Mật khẩu" [(ngModel)]="password">
            <div>
              <input type="password" placeholder="Nhập lại mật khẩu" [(ngModel)]="repeatPassword">
              <input type="submit" value="reset password" (click)="resetPassword()">
              <div>
                <input type="submit" value="Đăng ký" (click)="register()">
                <input type="submit" value="Đăng nhập" (click)="login()">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="labels">
        <label for="login">Bạn đã có tài khoản? <span>Đăng nhập</span></label>
        <label for="reset">Bạn quên mật khẩu? <span>Đặt lại</span></label>
        <label for="login"><span>Trở lại</span></label>
        <label for="register">Bạn chưa có tài khoản? <span>Đăng ký</span></label>
      </div>
    </form>
  </div>
</div>
<!--<div id="hint">click on the links</div>-->
