<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="" target="_blank">
        <img src="https://st3.depositphotos.com/7774456/13208/v/450/depositphotos_132088630-stock-illustration-logo-of-stylish-sneaker-for.jpg" alt="logo">
        <h1>Sneaker House</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Đơn hàng" nzIcon="reconciliation">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/received">Danh sách đơn hàng</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Sản phẩm" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/product">Danh sách sản phẩm</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/brand">Danh sách nhãn hiệu</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Khuyến mãi" nzIcon="pound">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/sale">Đang khuyến mãi</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Thống kê" nzIcon="line-chart">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/statistical">Doanh thu</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            >
            </span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
