
<div class="report">
  <div class="block revenue">
    <label>Doanh thu</label>
    <p>{{report && report.revenue * 1000| currency:'VND':' ':'1.'}}</p>
  </div>
  <div class="block order">
    <label>Số đơn hàng</label>
    <p>{{report?.order}}</p>
  </div>
  <div class="block order-Confirm">
    <label>Đã xác nhận</label>
    <p>{{report?.orderConfirm}}</p>
  </div>
  <div class="block order-Unconfirmed">
    <label>Chưa xác nhận</label>
    <p>{{report?.orderUnconfimred}}</p>
  </div>
  <div class="block order-Unconfirmed">
    <label>Đã hủy</label>
    <p>{{report?.orderCancelled}}</p>
  </div>
  <div class="block order-Unconfirmed">
    <label>Đã giao</label>
    <p>{{report?.orderDelivered}}</p>
  </div>
</div>
<div class="chart">
  <canvas baseChart class="chart1"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType" >
  </canvas>
</div>


