<form [formGroup]="newForm" (ngSubmit)="ngSubmit()">
  <div class="row">
    <label for="img">Hình ảnh</label>
    <input type="file" id="img" alt="" (change)="chooseFile($event)" nz-input />
  </div>
  <div class="row">
    <label for="name">Tên sản phẩm</label>
    <input type="text" id="name" nz-input formControlName="name">
  </div>
  <div class="row">
    <p >Nhãn hiệu</p>
    <nz-select nzAllowClear nzPlaceHolder="Chọn nhãn hiệu" formControlName="id_brand">
      <nz-option *ngFor="let data of optionBrand" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
    </nz-select>
  </div>
  <div class="row">
    <p>Màu</p>
    <div class="radio">
      <label for="black">Đen</label>
      <input class="input-radio" type="radio" id="black" nz-input name="color" formControlName="color" value="black">
      <label for="white">Trắng</label>
      <input class="input-radio" type="radio" id="white" nz-input name="color" formControlName="color" value="white">
      <label for="red">Đỏ</label>
      <input class="input-radio" type="radio" id="red" nz-input name="color" formControlName="color" value="red">
    </div>
  </div>
  <div class="row">
    <p>Giới tính</p>
    <div class="radio">
      <label for="men">Nam</label>
      <input class="input-radio" type="radio" id="men" nz-input name="gender"  formControlName="gender" value="1">
      <label for="woman">Nữ</label>
      <input class="input-radio" type="radio" id="woman" nz-input name="gender" formControlName="gender" value="0">
      <label for="unisex">Cả hai</label>
      <input class="input-radio" type="radio" id="unisex" nz-input name="gender" formControlName="gender" value="2">
    </div>
  </div>
  <div class="row">
    <label for="description">Mô tả</label>
    <input type="text" id="description" nz-input  formControlName="description">
  </div>
  <div class="row">
    <p>Trending</p>
    <div class="radio">
      <label for="trending">Trending</label>
      <input class="input-radio" type="radio" id="trending" nz-input name="trending"  formControlName="trending" value="1">
      <label for="normal">Bình thường</label>
      <input class="input-radio" type="radio" id="normal" nz-input name="trending"  formControlName="trending" value="0">
    </div>
  </div>
  <div class="row">
    <label for="price">Giá <span nz-icon nzType="question-circle" nzTheme="outline" nz-popover nzPopoverContent="Giá *1000"></span></label>
    <input type="text" id="price" nz-input  formControlName="price">

  </div>
  <div class="btn-add">
    <button class="btn-submit" type="submit" [disabled]="isLoadingImage">Thêm</button>
  </div>
</form>
