<form [formGroup]="newForm" (ngSubmit)="ngSubmit()">
  <div class="row">
    <p>Hình ảnh</p>
    <div class="container-upload">
      <div class="input-upload">
        <label for="img" class="label-input-img">
          <div class="upload-img">
            <svg *ngIf="!progress[0].progress;else img" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" height="25px"
                 width="25px" version="1.1" id="Capa_1" viewBox="0 0 490 490" xml:space="preserve">
          <g>
	<g>
		<g>
			<path
        d="M227.8,174.1v53.7h-53.7c-9.5,0-17.2,7.7-17.2,17.2s7.7,17.2,17.2,17.2h53.7v53.7c0,9.5,7.7,17.2,17.2,17.2     s17.1-7.7,17.1-17.2v-53.7h53.7c9.5,0,17.2-7.7,17.2-17.2s-7.7-17.2-17.2-17.2h-53.7v-53.7c0-9.5-7.7-17.2-17.1-17.2     S227.8,164.6,227.8,174.1z"/>
      <path
        d="M71.7,71.7C25.5,118,0,179.5,0,245s25.5,127,71.8,173.3C118,464.5,179.6,490,245,490s127-25.5,173.3-71.8     C464.5,372,490,310.4,490,245s-25.5-127-71.8-173.3C372,25.5,310.5,0,245,0C179.6,0,118,25.5,71.7,71.7z M455.7,245     c0,56.3-21.9,109.2-61.7,149s-92.7,61.7-149,61.7S135.8,433.8,96,394s-61.7-92.7-61.7-149S56.2,135.8,96,96s92.7-61.7,149-61.7     S354.2,56.2,394,96S455.7,188.7,455.7,245z"/>
		</g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
</g>
          </svg>
            <ng-template #img>
              <nz-progress *ngIf="!imgNew[0].img" [nzWidth]="25" [nzPercent]="progress[0].progress" nzType="circle" [nzShowInfo]="false"></nz-progress>
              <img alt="img" *ngIf="imgNew[0].img" [src]="imgNew[0].img">
            </ng-template>
          </div>
        </label>
        <input type="file" id="img" class="input-img" alt="" (change)="chooseFile($event,0)" nz-input
               />
      </div>
      <div class="input-upload">
        <label for="sub_img1" class="label-input-img">
          <div class="upload-img">
            <svg *ngIf="!progress[1].progress;else img1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" height="25px"
                 width="25px" version="1.1" id="Capa_1" viewBox="0 0 490 490" xml:space="preserve">
          <g>
	<g>
		<g>
			<path
        d="M227.8,174.1v53.7h-53.7c-9.5,0-17.2,7.7-17.2,17.2s7.7,17.2,17.2,17.2h53.7v53.7c0,9.5,7.7,17.2,17.2,17.2     s17.1-7.7,17.1-17.2v-53.7h53.7c9.5,0,17.2-7.7,17.2-17.2s-7.7-17.2-17.2-17.2h-53.7v-53.7c0-9.5-7.7-17.2-17.1-17.2     S227.8,164.6,227.8,174.1z"/>
      <path
        d="M71.7,71.7C25.5,118,0,179.5,0,245s25.5,127,71.8,173.3C118,464.5,179.6,490,245,490s127-25.5,173.3-71.8     C464.5,372,490,310.4,490,245s-25.5-127-71.8-173.3C372,25.5,310.5,0,245,0C179.6,0,118,25.5,71.7,71.7z M455.7,245     c0,56.3-21.9,109.2-61.7,149s-92.7,61.7-149,61.7S135.8,433.8,96,394s-61.7-92.7-61.7-149S56.2,135.8,96,96s92.7-61.7,149-61.7     S354.2,56.2,394,96S455.7,188.7,455.7,245z"/>
		</g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
</g>
          </svg>
            <ng-template #img1>
              <nz-progress *ngIf="!imgNew[1].img" [nzWidth]="25" [nzPercent]="progress[1].progress" nzType="circle" [nzShowInfo]="false"></nz-progress>
              <img alt="img" *ngIf="imgNew[1].img" [src]="imgNew[1].img">
            </ng-template>
          </div>
        </label>
        <input type="file" id="sub_img1" class="input-img" alt="" (change)="chooseFile($event,1)" nz-input
               />
      </div>
      <div class="input-upload">
        <label for="sub_img2" class="label-input-img">
          <div class="upload-img">
            <svg *ngIf="!progress[2].progress;else img2" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" height="25px"
                 width="25px" version="1.1" id="Capa_1" viewBox="0 0 490 490" xml:space="preserve">
          <g>
	<g>
		<g>
			<path
        d="M227.8,174.1v53.7h-53.7c-9.5,0-17.2,7.7-17.2,17.2s7.7,17.2,17.2,17.2h53.7v53.7c0,9.5,7.7,17.2,17.2,17.2     s17.1-7.7,17.1-17.2v-53.7h53.7c9.5,0,17.2-7.7,17.2-17.2s-7.7-17.2-17.2-17.2h-53.7v-53.7c0-9.5-7.7-17.2-17.1-17.2     S227.8,164.6,227.8,174.1z"/>
      <path
        d="M71.7,71.7C25.5,118,0,179.5,0,245s25.5,127,71.8,173.3C118,464.5,179.6,490,245,490s127-25.5,173.3-71.8     C464.5,372,490,310.4,490,245s-25.5-127-71.8-173.3C372,25.5,310.5,0,245,0C179.6,0,118,25.5,71.7,71.7z M455.7,245     c0,56.3-21.9,109.2-61.7,149s-92.7,61.7-149,61.7S135.8,433.8,96,394s-61.7-92.7-61.7-149S56.2,135.8,96,96s92.7-61.7,149-61.7     S354.2,56.2,394,96S455.7,188.7,455.7,245z"/>
		</g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
</g>
          </svg>
            <ng-template #img2>
              <nz-progress *ngIf="!imgNew[2].img" [nzWidth]="25" [nzPercent]="progress[2].progress" nzType="circle" [nzShowInfo]="false"></nz-progress>
              <img alt="img" *ngIf="imgNew[2].img" [src]="imgNew[2].img">
            </ng-template>
          </div>
        </label>
        <input type="file" id="sub_img2" class="input-img" alt="" (change)="chooseFile($event,2)" nz-input
               />
      </div>
      <div class="input-upload">
        <label for="sub_img3" class="label-input-img">
          <div class="upload-img">
            <svg *ngIf="!progress[3].progress;else img3" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink" fill="#fff" height="25px"
                 width="25px" version="1.1" id="Capa_1" viewBox="0 0 490 490" xml:space="preserve">
          <g>
	<g>
		<g>
			<path
        d="M227.8,174.1v53.7h-53.7c-9.5,0-17.2,7.7-17.2,17.2s7.7,17.2,17.2,17.2h53.7v53.7c0,9.5,7.7,17.2,17.2,17.2     s17.1-7.7,17.1-17.2v-53.7h53.7c9.5,0,17.2-7.7,17.2-17.2s-7.7-17.2-17.2-17.2h-53.7v-53.7c0-9.5-7.7-17.2-17.1-17.2     S227.8,164.6,227.8,174.1z"/>
      <path
        d="M71.7,71.7C25.5,118,0,179.5,0,245s25.5,127,71.8,173.3C118,464.5,179.6,490,245,490s127-25.5,173.3-71.8     C464.5,372,490,310.4,490,245s-25.5-127-71.8-173.3C372,25.5,310.5,0,245,0C179.6,0,118,25.5,71.7,71.7z M455.7,245     c0,56.3-21.9,109.2-61.7,149s-92.7,61.7-149,61.7S135.8,433.8,96,394s-61.7-92.7-61.7-149S56.2,135.8,96,96s92.7-61.7,149-61.7     S354.2,56.2,394,96S455.7,188.7,455.7,245z"/>
		</g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
            <g>
	</g>
</g>
          </svg>
            <ng-template #img3>
              <nz-progress *ngIf="!imgNew[3].img" [nzWidth]="25" [nzPercent]="progress[0].progress" nzType="circle" [nzShowInfo]="false"></nz-progress>
              <img alt="img" *ngIf="imgNew[3].img" [src]="imgNew[3].img">
            </ng-template>
          </div>
        </label>
        <input type="file" id="sub_img3" class="input-img" alt="" (change)="chooseFile($event,3)" nz-input
               />
      </div>
    </div>
  </div>
  <div class="row">
    <label for="name">Tên sản phẩm</label>
    <input type="text" id="name" nz-input formControlName="name">
  </div>
  <div class="row">
    <p>Vùng miền</p>
    <nz-select nzAllowClear nzPlaceHolder="Chọn vùng miền" formControlName="region">
      <nz-option *ngFor="let data of optionBrand" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
    </nz-select>
  </div>
  <div class="row">
    <p>Phân loại thực phẩm</p>
    <nz-select nzAllowClear nzPlaceHolder="Phân loại thực phẩm" formControlName="type">
      <nz-option *ngFor="let data of categoryProduct" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
    </nz-select>
  </div>
  <!--<div class="row">
    <p>Màu</p>
    <div class="radio">
      <label for="black">Đen</label>
      <input class="input-radio" type="radio" id="black" nz-input name="color" formControlName="color" value="black">
      <label for="white">Trắng</label>
      <input class="input-radio" type="radio" id="white" nz-input name="color" formControlName="color" value="white">
      <label for="red">Đỏ</label>
      <input class="input-radio" type="radio" id="red" nz-input name="color" formControlName="color" value="red">
    </div>
  </div>-->
  <!--<div class="row">
    <p>Giới tính</p>
    <div class="radio">
      <label for="men">Nam</label>
      <input class="input-radio" type="radio" id="men" nz-input name="gender"  formControlName="gender" value="1">
      <label for="woman">Nữ</label>
      <input class="input-radio" type="radio" id="woman" nz-input name="gender" formControlName="gender" value="0">
      <label for="unisex">Cả hai</label>
      <input class="input-radio" type="radio" id="unisex" nz-input name="gender" formControlName="gender" value="2">
    </div>
  </div>-->
  <div class="row">
    <label for="description">Mô tả</label>
    <textarea type="text" id="description" nz-input formControlName="description"></textarea>
  </div>
  <!--<div class="row">
    <p>Trending</p>
    <div class="radio">
      <label for="trending">Trending</label>
      <input class="input-radio" type="radio" id="trending" nz-input name="trending"  formControlName="trending" value="1">
      <label for="normal">Bình thường</label>
      <input class="input-radio" type="radio" id="normal" nz-input name="trending"  formControlName="trending" value="0">
    </div>
  </div>-->
  <div class="row">
    <label for="price">Giá <span nz-icon nzType="question-circle" nzTheme="outline" nz-popover
                                 nzPopoverContent="Giá *1000"></span></label>
    <input type="text" id="price" nz-input formControlName="price">

  </div>
  <div class="btn-add">
    <button class="btn-submit" type="submit" [disabled]="isLoadingImage">{{selectedProduct ? 'Cập nhật' : 'Thêm'}}</button>
  </div>
</form>
