/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.ant-table{
  min-height: 70vh !important;
}
body{
  font-family: 'Oswald', sans-serif;
}
.btn-submit{
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  background: #1890ff;
  border: none;
  color: white;
  border-radius: 5px;
  &:disabled{
    opacity: 60%;
    cursor: not-allowed;
  }
}
.ant-select{
  width: 100%;
}
.btn-action{
  display: flex;
  justify-content: right;
  gap: 1.5rem;
}
.cursor{
  cursor: pointer;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #001529;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #001529;
}
